ion-slide img{
  max-height: 100%;        
}

ion-icon{
  color: #ffc409;
}

.linea{
  display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: var(--verde-2019);
    height: 2px;
}