<ion-app>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="menu">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
  
  <ion-content>      
    <ion-list>
      <ion-list-header>
        Noticias Recientes
      </ion-list-header>

      <ion-item href="new1">
        <ion-avatar slot="start">
          <img src="assets/Img/Banner-cul.png">
        </ion-avatar>
        <ion-label>
          <h2>Competencia Danza y Rumba</h2>
          <h3>2020</h3>
          <p>Conoce los horarios y fechas de las competencias y actividades fisicas que se llevaran a cabo durante el ultimo trimestre del año        
          </p>
        </ion-label>
      </ion-item>

      <ion-item href="new1">
        <ion-avatar slot="start">
          <img src="assets/Img/convocatoria.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Convocatoria Emprendimiento</h2>
          <h3>Emprendedores y/o Empresarios</h3>
          <p>Llena el siguiente formulario formulario para registrar y participar en la asamblea de proyectos que se da cad viernes en nuestras instalaciones. </p>
        </ion-label>
      </ion-item>

      <ion-item href="new1">
        <ion-avatar slot="start">
          <img src="assets/Img/grado.png">
        </ion-avatar>
        <ion-label>
          <h2>Solicitudes de grado</h2>
          <h3>Hasta el 23 de agosto del 2020</h3>
          <p>CLick aquí.</p>
        </ion-label>
      </ion-item>

      <ion-item href="new1">
        <ion-avatar slot="start">
          <img src="assets/Img/LOGO_CULn.png">
        </ion-avatar>
        <ion-label>
          <h2>Nueva App-CUL</h2>
          <h3>Plataforma digital para los estudiantes</h3>
          <p>Disfruta de la nueva app movil CUL donde podras realizar tramites, tareas, consultas, etc. Todo al alcanze de tu mano  </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Antiguas
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Img/soporte.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Poe</h2>
          <h3>New Ride</h3>
          <p>I just upgraded my X-Wing. Next time...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Img/seminario.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ben</h2>
          <h3>Move Along</h3>
          <p>These aren't the droids you're looking for...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Img/monitorias.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Leia</h2>
          <h3>You're My Only Hope</h3>
          <p>I've placed information vital to the survival...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Img/oferta_laboral.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>