<ion-app>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="menu">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
  <ion-content>    
<audio controls style=" display:none;" loop   id="a"  >
  <source  src="https://www.mboxdrive.com/y2mate.com%20-%20Nature%20status%20_%20whatsapp%20status%20morning%20(2).mp3 "> 
 <script>
   Swal.fire('Every moment is a fresh beginning. \n\n  2,325 lines made this beautiful butterfly !😊')
      </script>  
    </audio>
<div class="Butty">𝑩𝒖𝒕𝒕𝒆𝒓𝒇𝒍𝒚</div>
<div class="anima">
  <div class="path"></div>
  <div class="path1"></div>
  <div class="path2"></div>
  <div class="path3"></div>
  <div class="path4"></div>
  <div class="dot1"></div>
  <div class="dot2"></div>
  <div class="spot1"></div>
  <div class="spot2"></div>
  <div class="spot3"></div>
  <div class="spot4"></div>
  <div class="spot5"></div>
  <div class="spot6"></div>
  <div class="spot7"></div>
  <div class="spot8"></div>
  <div class="spot9"></div>
  <div class="spot10"></div>
  <div class="spot11"></div>
  <div class="spot12"></div>
  <div class="spot13" style="visibility: hidden;"></div> 
  <div class="spot14"></div>
  <div class="spot15"></div>
  <div class="spot16"></div></div>
 
  <div class="leaf1"></div>
  <div class="leaf2"></div>
  <div class="leaf3"></div>
  <div class="leaf4"></div>
  <div class="leaf5"></div>
  <div class="leaf6"></div>
  <div class="leaf7"></div>
  <div class="leaf8"></div>
  <div class="leaf9"></div>
  <div class="leaf10"></div>
  <div class="leaf11"></div>
  <div class="leaf12"></div>
  <div class="leaf13"></div>
  <div class="leaf14"></div>
  <div class="leaf15"></div>
  <div class="leaf16"></div>
  <div class="leaf17"></div>
  <div class="leaf18"></div>
  <div class="leaf19"></div>
  <div class="leaf20"></div>
  <div class="leaf21"></div>
  <div class="leaf22"></div>
  <div class="leaf23"></div>
  <div class="leaf24"></div>
  <div class="leaf25"></div>
  <div class="leaf26"></div>
  <div class="leaf27"></div>
  <div class="leaf28"></div>
  <div class="leaf29"></div>
  <div class="leaf30"></div>
  <div class="leaf31"></div>
  <div class="leaf32"></div>
  <div class="leaf33"></div>
  <div class="leaf34"></div>
  <div class="leaf35"></div>
  <div class="leaf36"></div>
  <div class="leaf37"></div>
  <div class="leaf38"></div>
  <div class="leaf39"></div>
  <div class="leaf40"></div>
  <div class="leafx1"></div>
  <div class="leafx2"></div>
  <div class="leafx3"></div>
  <div class="leafx4"></div>
  <div class="leafx5"></div>
  <div class="leafx6"></div>
  <div class="leafx7"></div>
  <div class="leafx8"></div>
  <div class="leafx9"></div>
  <div class="leafx10"></div>
  <div class="leafx11"></div>
  <div class="leafx12"></div>
  <div class="leafx13"></div>
  <div class="leafx14"></div>
  <div class="leafx15"></div>
  <div class="leafx16"></div>
  <div class="leafx17"></div>
  <div class="leafx18"></div>
  <div class="leafx19"></div>
  <div class="leafx20"></div>
  <div class="leafx21"></div>
  <div class="leafx22"></div>
  <div class="leafx23"></div>
  <div class="leafx24"></div>
  <div class="leafx25"></div>
  <div class="leafx26"></div>
  <div class="leafx27"></div>
  <div class="leafx28"></div>
  <div class="leafx29"></div>
  <div class="leafx30"></div>
  <div class="bigleaf"></div>
  <div class="bigleaf1"></div>
  <div class="bigleaf2"></div>
  <div class="bigleaf3"></div>
  <div class="bigleaf4"></div>
  <div class="bigleaf5"></div>
  <div class="bigleaf6"></div>
  <div class="bigleaf7"></div>
  <div class="bigleaf8"></div>
  <div class="bigleaf9"></div>
  <div class="bigleaf10"></div>
  <div class="bigleaf11"></div>
  <div class="bigleaf12"></div>
  <div class="bigleaf13"></div>
  <div class="bigleaf14"></div>
  <div class="bigleaf15"></div>
   <div class="leafy1"></div>
  <div class="leafy2"></div>
  <div class="leafy3"></div>
  <div class="leafy4"></div>
  <div class="leafy5"></div>
  <div class="leafy6"></div>
  <div class="leafy7"></div>
  <div class="leafy8"></div>
  <div class="leafy9"></div>
  <div class="leafy10"></div>
  <div class="leafy11"></div>
  <div class="leafy12"></div>
  <div class="leafy13"></div>
  <div class="leafy14"></div>
  <div class="leafy15"></div>
  <div class="leafy16"></div>
  <div class="leafy17"></div>
  <div class="leafy18"></div>
  <div class="leafy19"></div>
  <div class="leafy20"></div>
  <div class="leafy21"></div>
  <div class="leafy22"></div>
  <div class="leafy23"></div>
  <div class="leafy24"></div>
  <div class="leafy25"></div>
  <div class="leafy26"></div>
  <div class="leafy27"></div>
  <div class="leafy28"></div>
  <div class="leafy29"></div>
  <div class="leafy30"></div>
   
  
  <svg class="svg1"height="200" width="500">
 <polyline points="20,20 40,25 60,40 80,110" style="fill:none;stroke:brown;stroke-width:3" /> </svg>

<svg class="svg2"height="200" width="500">
 <polyline points="20,22 31,45 80,102 136,145" style="fill:none;stroke:brown;stroke-width:14" /></svg>
  
     <svg class="svg3"height="200" width="500">
 <polyline points="20,22 45,90 80,102" style="fill:none;stroke:brown;stroke-width:3" /></svg>
</ion-content>
</ion-app>