<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Perfil</ion-title>
</ion-toolbar>

  <ion-card>
  <img src="assets/Img/perfil.jpg" alt="Kleyner Amariz" style="width:100%;">
  <h1>Kleyner Amariz</h1>
  <p class="title">Developer FullStacks & Founder</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><ion-button>Contact</ion-button></p>
</ion-card>
