<ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides pager="true">
  
        <ion-slide>
          <div class="slide">
            <img src="http://isi.ul.edu.co/isi/pluginfile.php/1/theme_moove/marketing3icon/1600375341/isi-03.jpg"/>
            <h2>Bienvenidos</h2>
            <p>La <b>App-CUL</b> le ta da una gran bienvenida a nuestra plataforma para que puedas disfrutar de todos nuestros
            servicios al alcance de tu mano </p>
          </div>
        </ion-slide>
  
        <ion-slide>
          <div class="slide">
          <img src="http://isi.ul.edu.co/isi/pluginfile.php/1/theme_moove/marketing1icon/1600375341/isi-04.jpg"/>
          <h2>Que es App-CUL?</h2>
          <p><b>App-CUL</b> es una plataforma movil para los estudiantes con la cual podran realizar tramites, consultas, enviar proyectos
            recibir soporte en cualquier momento con un solo click.</p>
          </div>        
        </ion-slide>
  
        <ion-slide>
          <div clas="slide">
          <img src="http://isi.ul.edu.co/isi/pluginfile.php/1/theme_moove/marketing4icon/1600375341/isi-05.jpg"/>
          <h2>Plataforma ISI incliuda?</h2>
          <p><b>Si!</b> gracias al gran trabajo de todos los desarrolladores pudimos integrar esta plataforma y brindarte todas sus
          caracteristicas y funciones. Ven y disfruta con App-CUL</p>
        </div>
        </ion-slide>
  
        <ion-slide>
          <div clas="slide">
          <img src="http://isi.ul.edu.co/isi/pluginfile.php/1/theme_moove/marketing2icon/1600375341/isi-02.jpg"/>
          <h2>Listo para trabajar?</h2>
          <ion-button fill="clear" href="login">Ingresar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
        </ion-slide>  
      </ion-slides>
    </ion-content>
  </ion-app>  